<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Configuración</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <link rel="stylesheet" href="/estilos.css"/>
</head>
<body>
<div th:replace="fragments/nav"></div>
<div class="text-center py-2">
    <h1 id="h1">Configuración del usuario:</h1>
    <h1 th:text="${user.getNombre()}"></h1>
</div>
<div class="pt-5">
    <div class="center">
        <div class="formLogin1">
            <form class="pt-4" action="update" method="post">
                <h4 class="py-2">Contraseña nueva: <input type="password" name="password" id="password"/></h4>
                <input hidden="hidden" name="username" th:value="${user.getNombre()}"/>
                <div class="boto">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>