<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Elegir Liga</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <link rel="stylesheet" href="/estilos.css"/>
</head>
<body>
<div th:replace="fragments/nav"></div>
<div class="text-center py-2">
    <h1 id="h1">Ligas disponibles</h1>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="liga: ${ligas}">
            <td th:text="${liga}"></td>
            <td>Temporada 21-22</td>
            <td> <a th:href="@{/deportes/formularioLigaClas/{liga}(liga=${liga})}" class="btn btn-primary" role="button">Clasificación</a></td>
            <td> <a th:href="@{/deportes/formularioLigaPartPas/{liga}(liga=${liga})}" class="btn btn-primary" role="button">Anteriores partidos</a></td>
            <td> <a th:href="@{/deportes/formularioLigaPart/{liga}(liga=${liga})}" class="btn btn-primary" role="button">Próximos partidos</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>