<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Menu principal</title>
	<link rel="stylesheet" href="/bootstrap.min.css"/>
	<link rel="stylesheet" href="/estilos.css"/>
</head>
<body>
<div th:replace="fragments/nav"></div>
<div class="row">
	<div class="col-md-3 type-button">
		<a th:href="@{/ubicaciones/lista}" role="button" class="btn btn-primary">Ubicaciones</a>
	</div>
	<div class="col-md-3">
		<a th:href="@{/servicios}" role="button" class="btn btn-primary">Servicios</a>
	</div>
	<div class="col-md-3 type-button">
		<a th:href="@{/tiempo/elegirTiempo}" role="button" class="btn btn-primary">Tiempo provincias</a>
	</div>
	<div class="col-md-3 type-button">
		<a th:href="@{/deportes/elegirLiga}" role="button" class="btn btn-primary">Deportes</a>
	</div>
	<div class="col-md-3 type-button">
		<a th:href="@{/ubicacionActual/servicios}" role="button" class="btn btn-primary">Ubicación actual</a>
	</div>
</div>
<div class="row">
	<h1>Ubicaciones favoritas</h1>
	<div class="container container-xxxl pt-4 card bg-light h-auto">
		<div class="table-responsive mt-4 grey-background">
			<div style="width: 99%;" th:each="ubicacion: ${ubicaciones}">

				<div th:replace="fragments/ubicacionCard"></div>

			</div>
		</div>
	</div>
</div>
</body>
</html>