<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Ubicaciones</title>
	<link rel="stylesheet" href="/bootstrap.min.css"/>
	<link rel="stylesheet" href="/estilos.css"/>
</head>
<body class="bg-secondary" th:object="${ubicacion}">
<div th:replace="fragments/nav"></div>
<div class="text-center py-2">
	<h1 id="h1" th:text="*{getAlias()}"></h1>
</div>
<div class="container container-xxxl py-3 card bg-light h-auto">
	<div class="row mb-3">
		<div class="col-md-12">
			<a th:href="@{/ubicaciones/lista}"
			   role="button" class="btn btn-primary w-100">Volver</a>
		</div>
	</div>

	<form action="#" th:action="@{/cambiarAlias}" th:object="${ubicacion}" method="post">
		<div class="row mx-2">
			<div class="col-md-1 h5">Ubicacion:</div>
			<div class="col-md-3 h5" th:text="*{getNombre()}"></div>
			<div class="col-md-2"></div>

			<div class="col-md-1 h5">Alias:</div>
			<div class="col-md-3 h5">
				<input class="form-control" type="text" th:field="*{alias}" maxlength="50">
			</div>
			<div class="col-md-2">
				<button type="submit" class="btn btn-primary w-100" name="action">Modificar</button>
			</div>
		</div>
	</form>

	<div class="row mx-2">
		<div class="col-md-1 h5">Latitud:</div>
		<div class="col-md-3 h5" th:text="*{getLatitud()}"></div>
		<div class="col-md-2"></div>
		<div class="col-md-1 h5">Longitud:</div>
		<div class="col-md-3 h5" th:text="*{getLongitud()}"></div>
		<div class="col-md-2"></div>
	</div>

	<div class="row mx-2">
		<div class="col-md-2">
			<a th:if="${ubicacion.isActivo()}" th:href="@{/ubicaciones/desactivar/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Desactivar ubicación</a>
			<a th:unless="${ubicacion.isActivo()}" th:href="@{/ubicaciones/activar/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Activar ubicación</a>
		</div>
		<div class="col-md-4"></div>
		<div th:if="${ubicacion.isFavorito()}" class="col-md-2">
			<a th:href="@{/ubicaciones/toggleFavorito/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">
				<img src="/bootstrap-icons/star-fill.svg" alt="Favorito" width="18" height="18" style="filter: invert(100%)">
			</a>
		</div>
		<div th:unless="${ubicacion.isFavorito()}" class="col-md-2">
			<a th:href="@{/ubicaciones/toggleFavorito/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">
				<img src="/bootstrap-icons/star.svg" alt="No favorito" width="18" height="18" style="filter: invert(100%)">
			</a>
		</div>
		<div class="col-md-3"></div>
		<div class="col-md-1">
			<a th:href="@{/ubicaciones/eliminar/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Eliminar</a>
		</div>
	</div>
	<!-- ---------------------------------------------- -->
	<!-- CABECERAS SERVICIOS + BOTON ACTIVAR/DESACTIVAR -->
	<!-- ---------------------------------------------- -->
	<div class="row mt-4 mb-1">
		<div class="col-md-2">
			<h5 class="ms-4">Tiempo atmosferico</h5>
		</div>

		<div class="col-md-2">
			<a th:if="${weather.get(ubicacion.getNombre()) != null}" th:href="@{/ubicaciones/desactivar/weather/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Desactivar servicio</a>
			<a th:unless="${weather.get(ubicacion.getNombre()) != null}" th:href="@{/ubicaciones/activar/weather/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Activar servicio</a>
		</div>

		<div class="col-md-2"></div>

		<div class="col-md-2">
			<h5>Calidad del aire</h5>
		</div>
		<div class="col-md-2">
			<a th:if="${airPolution.get(ubicacion.getNombre()) != null}" th:href="@{/ubicaciones/desactivar/airPolution/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Desactivar servicio</a>
			<a th:unless="${airPolution.get(ubicacion.getNombre()) != null}" th:href="@{/ubicaciones/activar/airPolution/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Activar servicio</a>
		</div>
		<div class="col-md-2"></div>
	</div>
	<!-- ------------------- -->
	<!-- CONTENIDO SERVICIOS -->
	<!-- ------------------- -->
	<div class="row mt-2 mb-1">
		<div class="col-md-4">
			<div th:if="${weather.get(ubicacion.getNombre()) != null}">
				<div class="ms-2 mb-2 bg-white border-box-with-shadow text-black" th:object="${weather.get(ubicacion.getNombre())}">
					<div th:replace="fragments/weatherInsideCard"></div>
				</div>
			</div>
			<div class="ms-4 mb-2 bg-white border-box-with-shadow text-black" th:unless="${weather.get(ubicacion.getNombre()) != null}">
				<h5 class="ms-2">Servicio desactivado para esta ubicacion</h5>
			</div>
		</div>

		<div class="col-md-2"></div>

		<div class="col-md-4">
			<div th:if="${airPolution.get(ubicacion.getNombre()) != null}">
				<div class="mb-2 bg-white border-box-with-shadow text-black" th:object="${airPolution.get(ubicacion.getNombre())}">
					<div th:replace="fragments/airPolutionInsideCard"></div>
				</div>
			</div>
			<div class="mb-2 bg-white border-box-with-shadow text-black" th:unless="${airPolution.get(ubicacion.getNombre()) != null}">
				<h5 class="ms-2">Servicio desactivado para esta ubicacion</h5>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>

</div>
</body>
</html>