<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ubicaciones</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <link rel="stylesheet" href="/estilos.css"/>
</head>
<body class="bg-secondary">
<div th:replace="fragments/nav"></div>
<div class="text-center py-2">
	<h1 id="h1">Tus Ubicaciones</h1>
</div>
<div class="container pt-4 card bg-light h-auto">
	<div>
		<div class="row">
			<div class="col-md-6">
				<a th:href="@{/ubicaciones/lista}"
				   role="button" class="btn btn-primary w-100">Ubicaciones desactivadas (No imp.)</a>
			</div>
			<div class="col-md-6">
				<a th:href="@{/ubicaciones/lista}"
				   role="button" class="btn btn-primary w-100">Historial ubicaciones eliminadas (No imp.)</a>
			</div>
		</div>
	</div>
	<div class="accordion mt-4">
		<div class="accordion-item">
			<button class="accordion-button" type="button" accordion-target="accordion-item-content-1">
				<h2>Añadir nueva ubicación</h2>
			</button>
			<div class="accordion-collapse" id="accordion-item-content-1">
				<form id="añadirUbicacionForm" action="#" th:action="@{/ubicaciones/añadir}" th:object="${Ubicacion}"
					  method="post" onkeydown="return event.keyCode != 13;">
					<div class="text">
						<div class="row py-1">
							<!-- LABEL SUPERIOR + BOTON AÑADIR -->
							<!-- COORDENADAS -->
							<div class="col-md-4">
								<label>Introduce coordenades: </label>
							</div>
							<div class="col-md-2">
								<button type="submit" class="btn btn-primary w-100" form="añadirUbicacionForm" value="añadirPorCoordenadas"
										name="action" id="añadirPorCoordenadasButton">Añadir
								</button>
							</div>
							<div class="col-md-1"></div>

							<!-- TOPONIMO -->
							<div class="col-md-3">
								<label>Introduce topónimo: </label>
							</div>
							<div class="col-md-2">
								<button type="submit" class="btn btn-primary w-100" form="añadirUbicacionForm" value="añadirPorToponimo"
										name="action" id="añadirPorToponimoButton">Añadir
								</button>
							</div>
						</div>
						<div class="row py-1">
							<!-- INTRODUCCION DE DATOS -->
							<!-- COORDENADAS -->
							<div class="col-md-1">
								<label>Latitud: </label>
							</div>
							<div class="col-md-2">
								<input class="form-control" id="latitud" placeholder="latitud" th:field="*{latitud}"
									   onkeydown="mySubmitButtonOnEnter('validarCoordenadasButton')" maxlength="9">
							</div>
							<div class="col-md-1">
								<label>Longitud: </label>
							</div>
							<div class="col-md-2">
								<input class="form-control" id="longitud" placeholder="longitud" th:field="*{longitud}"
									   onkeydown="mySubmitButtonOnEnter('validarCoordenadasButton')" maxlength="10">
							</div>
							<div class="col-md-1"></div>

							<!-- TOPONIMO -->
							<div class="col-md-5">
								<input class="form-control" id="nombre" placeholder="topónimo" th:field="*{nombre}"
									   onkeydown="mySubmitButtonOnEnter('validarToponimoButton')" maxlength="50">
							</div>
						</div>
						<div class="row py-1">
							<!-- VALIDACION -->
							<!-- COORDENADAS -->
							<div class="col-md-2">
								<button type="submit" class="btn btn-primary w-100" form="añadirUbicacionForm" value="validarCoordenadas"
										name="action" id="validarCoordenadasButton">Validar coordenadas
								</button>
							</div>
							<div class="col-md-4">
								<input class="form-control" disabled="disabled"
									   th:classappend="${coordenadasValidas==null ? '' : coordenadasValidas ? 'is-valid' : 'is-invalid'}"
									   th:placeholder="${coordenadasValidas==null ? 'Coordenadas sin validar' : coordenadasValidas ?
									   'Coords. ( ' + Ubicacion.getLatitud() + ', ' + Ubicacion.getLongitud() + ' ) son validas' :
									   'Coords. ( ' + Ubicacion.getLatitud() + ', ' + Ubicacion.getLongitud() + ' ) son invalidas'}">
							</div>
							<div class="col-md-1"></div>

							<!-- TOPONIMO -->
							<div class="col-md-2">
								<button type="submit" class="btn btn-primary w-100" form="añadirUbicacionForm" value="validarToponimo"
										name="action" id="validarToponimoButton">Validar topónimo
								</button>
							</div>
							<div class="col-md-3">
								<input class="form-control" disabled="disabled"
									   th:classappend="${toponimoValido==null ? '' : toponimoValido ? 'is-valid' : 'is-invalid'}"
									   th:placeholder="${toponimoValido==null ? 'Topónimo sin validar' : toponimoValido ?
									   'Topónimo ( ' + Ubicacion.getNombre() + ' ) valido' :
									   'Topónimo ( ' + Ubicacion.getNombre() + ' ) invalido'}">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="table-responsive mt-4 grey-background">
		<div style="width: 99%;" th:each="ubicacion: ${ubicaciones}">

			<div th:replace="fragments/ubicacionCard"></div>

		</div>
	</div>
</div>
</body>
<script src="/bootstrap.js"></script>
</html>