<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ubicaciones</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <link rel="stylesheet" href="/estilos.css"/>
</head>
<body>
<div th:replace="fragments/nav"></div>
<form action="#" th:action="@{/Ubicaciones/añadir}" th:object="${Coordenadas}" method="post">
    <div class="text">
        <label>Introduce coordenades</label>
        <input type="text" class="form-control" id="latitud" placeholder="latitud" th:field="*{latitud}">
        <input type="text" class="form-control" id="longitud" placeholder="longitud" th:field="*{longitud}">
    </div>
    <div class="text">
        <label>Introduce topónimo</label>
        <input type="text" class="form-control" id="toponimo" placeholder="toponimo">
    </div>
    <form action="#" th:action="@{/Ubicaciones/validarCoordenadas}">
        <input class="btn btn-primary" type="submit" value="validar coordenadas">
    </form>
    <form action="#" th:action="@{/validarToponimo}">
        <input class="btn btn-primary" type="submit" value="validar topónimo">
    </form>
    <input class="btn btn-primary" type="submit" value="Añadir">
</form>
</body>
</html>