<nav class="navbar navbar-expand-lg navbar-dark bg-primary" xmlns:th="http://www.w3.org/1999/xhtml">
	<div class="container-fluid">
		<ul class="navbar-nav me-auto">
			<li class="nav-item">
				<a class="nav-link" href="javascript:window.history.back();">Enrere</a>
			</li>
			<a class="nav-link" href="/" th:href="@{/}">Inici</a>
		</ul>
		<div class="loggeduser" th:object="${session}" xmlns:th="http://www.w3.org/1999/xhtml">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					Autenticat com <span th:text="*{user.getNombre()}"></span>
				</li>
				<li class="nav-item">
					<a href="/logout" th:href="@{/logout}">Eixir</a>
				</li>
				<li>
					Configurar
				</li>
			</ul>
		</div>
	</div>
</nav>