<link rel="stylesheet" href="/prvCard.css" xmlns:th="http://www.w3.org/1999/xhtml"/>
<div class="prv" xmlns:th="http://www.w3.org/1999/xhtml">
        <section class="page-contain">
            <tr th:each="prevision: ${previsiones}">
            <a class="data-card">
                <h4 th:text="${prevision.getDate()}"></h4>
                <div>
                    <span class="inline">T máxima:</span>
                    <span class="float-right" th:text="${prevision.gettMax()}"></span>
                </div>
                <div>
                    <span class="inline">T mínima:</span>
                    <span class="float-right" th:text="${prevision.gettMin()}"></span>
                </div>
                <div>
                    <span class="inline">Humedad:</span>
                    <span class="float-right" th:text="${prevision.getHumedad()}"></span>
                </div>
                <div>
                    <span class="inline">Res:</span>
                    <span class="float-right" th:text="${prevision.getDescripcion()}"></span>
                </div>
                </span>
            </a>
            </tr>
        </section>
</div>