<!--<div class="provincia" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--    <h5 th:text="${prevision.getCiudad().getNombre()}">Ciudad</h5>-->
<!--    <div class="container">-->
<!--        <div th:replace="fragments/prevision"></div>-->
<!--    </div>-->
<!--</div>-->
<link rel="stylesheet" href="/prvCard.css" />
<div class="main-container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="heading" xmlns:th="http://www.w3.org/1999/xhtml">
        <h1 color="f90606" th:text="${previsionCiudad.getCiudad().getNombre()}">Ciudad</h1>
    </div>
    <div style="width: 99%;" th:each="prevision: ${previsionCiudad.getPrevisionList()}">
        <div class="cards">
            <div class="card card-1">
                <h2 class="card__date" th:text="${prevision.getDate()}"></h2>
                <div class="card__icon"><i class="fas fa-bolt"></i></div>
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <h2 class="card__link">Temperatura mínima</h2>
                <h3 th:text="${prevision.gettMin()}"></h3>
                <h2 class="card__link">Temperatura máxima</h2>
                <h3 th:text="${prevision.gettMax()}"></h3>
                <h2 class="card__link">Humedad</h2>
                <h3 th:text="${prevision.getHumedad()}"></h3>
                <h2 class="card__link">Descripción</h2>
                <h3 th:text="${prevision.getDescripcion()}"></h3>
            </div>
        </div>
    </div>
</div>