<div class="card text-white bg-primary mb-3" xmlns:th="http://www.w3.org/1999/xhtml">


	<div class="row mt-2">
		<div class="col-md-4">
			<h5 class="ms-4" th:text="${ubicacion.getAlias()}"></h5>
		</div>
		<div class="col-md-2">
			<a th:href="@{/ubicaciones/lista}"
			   role="button" class="btn btn-primary">Información</a>
		</div>
		<div class="col-md-1">
			<a th:href="@{/ubicaciones/lista}"
			   role="button" class="btn btn-primary">Editar</a>
		</div>
		<div class="col-md-1">
			<a th:if="${ubicacion.isActivo()}" th:href="@{/ubicaciones/desactivar/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Desactivar</a>
			<a th:unless="${ubicacion.isActivo()}" th:href="@{/ubicaciones/activar/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Activar</a>
		</div>
		<div th:if="${ubicacion.isFavorito()}" class="col-md-1">
			<a th:href="@{/ubicaciones/toggleFavorito/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">
				<img src="/bootstrap-icons/star-fill.svg" alt="Favorito" width="18" height="18" style="filter: invert(100%)">
			</a>
		</div>
		<div th:unless="${ubicacion.isFavorito()}" class="col-md-1">
			<a th:href="@{/ubicaciones/toggleFavorito/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">
				<img src="/bootstrap-icons/star.svg" alt="No favorito" width="18" height="18" style="filter: invert(100%)">
			</a>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-1">
			<a th:href="@{/ubicaciones/eliminar/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Eliminar</a>
		</div>
	</div>

	<div class="row my-4"><div class="col-md-12"></div></div>

	<div class="row">
		<div class="col-md-2">
			<h5 class="ms-4">Tiempo atmosferico</h5>
		</div>
		<div class="col-md-2">

			<a th:if="${weather.get(ubicacion.getNombre()) != null}" th:href="@{/ubicaciones/desactivar/weather/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Desactivar servicio</a>
			<a th:unless="${weather.get(ubicacion.getNombre()) != null}" th:href="@{/ubicaciones/activar/weather/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Activar servicio</a>

		</div>
		<div class="col-md-2">
			<h5>Calidad del aire</h5>
		</div>
		<div class="col-md-2">

		</div>
		<div class="col-md-2">
			<h5 class="me-4">Deporte</h5>
		</div>
		<div class="col-md-2">

		</div>
	</div>

	<!-- TODO añadir filas para facilitar muestreo de informacion o buscar la forma de crear cartas dentro con contenido
	 	 añadir en un futuro botones que permitan desactivar los servicios -->
	<div class="row mt-2">
		<div class="col-md-4">
			<div th:if="${weather.get(ubicacion.getNombre()) != null}">
				<div class="ms-4 mb-2 bg-white border-box-with-shadow text-black" th:object="${weather.get(ubicacion.getNombre())}">
					<div th:replace="fragments/servicioInsideCard"></div>
				</div>
			</div>
			<div class="ms-4 mb-2 bg-white border-box-with-shadow text-black" th:unless="${weather.get(ubicacion.getNombre()) != null}">
				<h5 class="ms-4">Servicio desactivado para esta ubicacion</h5>
			</div>
		</div>
		<div class="col-md-4">
			<h5>Contenido Calidad del aire</h5>
		</div>
		<div class="col-md-4">
			<h5 class="me-4">Contenido Deporte</h5>
		</div>
	</div>


</div>