<div class="card text-white bg-primary mt-1 mb-3" xmlns:th="http://www.w3.org/1999/xhtml">

	<!-- -------------------------- -->
	<!-- ALIAS + BOTONES DE EDICION -->
	<!-- -------------------------- -->
	<div class="row mt-2 mb-5">
		<div class="col-md-4">
			<h5 class="ms-4" th:text="${ubicacion.getAlias()}"></h5>
		</div>
		<div class="col-md-3">
			<a th:href="@{/ubicaciones/ubicacion/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Detalles/Editar</a>
		</div>
		<div class="col-md-1">
			<a th:if="${ubicacion.isActivo()}" th:href="@{/ubicaciones/desactivar/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Desactivar</a>
			<a th:unless="${ubicacion.isActivo()}" th:href="@{/ubicaciones/activar/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Activar</a>
		</div>
		<div th:if="${ubicacion.isFavorito()}" class="col-md-1">
			<a th:href="@{/ubicaciones/toggleFavorito/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">
				<img src="/bootstrap-icons/star-fill.svg" alt="Favorito" width="18" height="18" style="filter: invert(100%)">
			</a>
		</div>
		<div th:unless="${ubicacion.isFavorito()}" class="col-md-1">
			<a th:href="@{/ubicaciones/toggleFavorito/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">
				<img src="/bootstrap-icons/star.svg" alt="No favorito" width="18" height="18" style="filter: invert(100%)">
			</a>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-1">
			<a th:href="@{/ubicaciones/eliminar/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Eliminar</a>
		</div>
	</div>
	<!-- ---------------------------------------------- -->
	<!-- CABECERAS SERVICIOS + BOTON ACTIVAR/DESACTIVAR -->
	<!-- ---------------------------------------------- -->
	<div class="row mb-1">
		<div class="col-md-1"></div>
		<div class="col-md-2">
			<h5 class="ms-4">Tiempo atmosferico</h5>
		</div>

		<div class="col-md-2">
			<a th:if="${weather.get(ubicacion.getNombre()) != null}" th:href="@{/ubicaciones/desactivar/weather/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Desactivar servicio</a>
			<a th:unless="${weather.get(ubicacion.getNombre()) != null}" th:href="@{/ubicaciones/activar/weather/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Activar servicio</a>
		</div>

		<div class="col-md-2"></div>

		<div class="col-md-2">
			<h5>Calidad del aire</h5>
		</div>
		<div class="col-md-2">
			<a th:if="${airPolution.get(ubicacion.getNombre()) != null}" th:href="@{/ubicaciones/desactivar/airPolution/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Desactivar servicio</a>
			<a th:unless="${airPolution.get(ubicacion.getNombre()) != null}" th:href="@{/ubicaciones/activar/airPolution/{toponimo}(toponimo=${ubicacion.getNombre()})}"
			   role="button" class="btn btn-primary">Activar servicio</a>
		</div>
		<div class="col-md-1"></div>
		<!--
		<div class="col-md-2">
			<h5 class="me-4">Deporte</h5>
		</div>
		<div class="col-md-2">
		</div>
		-->
	</div>
	<!-- ------------------- -->
	<!-- CONTENIDO SERVICIOS -->
	<!-- ------------------- -->
	<div class="row mt-2 mb-1">
		<div class="col-md-1"></div>
		<div class="col-md-4">
			<div th:if="${weather.get(ubicacion.getNombre()) != null}">
				<div class="ms-2 mb-2 bg-white border-box-with-shadow text-black"
					 th:if="${serviciosActivos.contains('OpenWeather')}"
					 th:object="${weather.get(ubicacion.getNombre())}">
					<div th:replace="fragments/weatherInsideCard"></div>
				</div>
				<div class="ms-4 mb-2 bg-white border-box-with-shadow text-black"
					 th:unless="${serviciosActivos.contains('OpenWeather')}">
					<h5 class="ms-2 my-4">Servicio desactivado para el usuario, activalo desde el menu servicios del menu prinicpal</h5>
				</div>
			</div>
			<div class="ms-4 mb-2 bg-white border-box-with-shadow text-black" th:unless="${weather.get(ubicacion.getNombre()) != null}">
				<h5 class="ms-2 py-4">Servicio desactivado para esta ubicacion</h5>
			</div>
		</div>

		<div class="col-md-2"></div>

		<div class="col-md-4">
			<div th:if="${airPolution.get(ubicacion.getNombre()) != null}">
				<div class="mb-2 bg-white border-box-with-shadow text-black"
					 th:if="${serviciosActivos.contains('AirVisual')}"
					 th:object="${airPolution.get(ubicacion.getNombre())}">
					<div th:replace="fragments/airPolutionInsideCard"></div>
				</div>
				<div class="ms-4 mb-2 bg-white border-box-with-shadow text-black"
					 th:unless="${serviciosActivos.contains('AirVisual')}">
					<h5 class="ms-2 py-4">Servicio desactivado para el usuario, activalo desde el menu servicios del menu prinicpal</h5>
				</div>
			</div>
			<div class="mb-2 bg-white border-box-with-shadow text-black" th:unless="${airPolution.get(ubicacion.getNombre()) != null}">
				<h5 class="ms-2 py-4">Servicio desactivado para esta ubicacion</h5>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>


</div>