<div class="row ms-2">
	<div class="col-md-12">
		<h5 th:text="*{getDescripcion()}"></h5>
	</div>
</div>
<div class="row ms-2">
	<div class="col-md-6">
		<h5 th:text="*{'Temperatura: ' + gettActual() + 'ºC'}"></h5>
	</div>
	<div class="col-md-6">
		<h5 th:text="*{'Sensación: ' + getSensacionTermica() + 'ºC'}"></h5>
	</div>
</div>
<div class="row ms-2">
	<div class="col-md-12">
		<h5 th:text="*{'Humedad: ' + getHumedad() + '%'}"></h5>
	</div>
</div>
<div class="row ms-2">
	<div class="col-md-6">
		<h5 th:text="*{'Presion: ' + getPresion() + ' hPa'}"></h5>
	</div>
	<div class="col-md-6">
		<h5 th:text="*{getEvaluacionDePresion()}"
			th:classappend="*{getEvaluacionDePresion()=='Presion baja' ? 'borrasca'
								: getEvaluacionDePresion()=='Presion alta' ? 'anticiclon' : ''}">
		</h5>
	</div>
</div>