<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <link rel="stylesheet" href="/estilos.css"/>
</head>
<body>
<div class="pt-5">
    <div class="center">
        <h1>Iniciar Sesión</h1>
        <div class="formLogin1">
        <form class="pt-4" action="login" method="post">
            <h4 class="py-2">Usuario: <input style="margin-left:3.3ex" type="text" placeholder="username" name="username"/></h4>
            <h4 class="py-2">Contraseña: <input type="password" placeholder="password" name="password"/></h4>
            <div class="boto">
                <button type="submit" class="btn btn-primary">Acceder</button>
            </div>
        </form>
        </div>
        <div class="formLogin2">
        <form class="pt-4" action="login" method="post">
            <input hidden="hidden" name="username"/>
            <input hidden="hidden" name="password"/>
            <div class="boto">
                <button type="submit" class="btn btn-primary">Registrar-me</button>
            </div>
        </form>
        </div>
    </div>
</div>
</body>
</html>