<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <link rel="stylesheet" href="/estilos.css"/>
</head>
<body>
<div>
    <h1>Registrar usuario</h1>
    <form action="register" method="post">
        <h4>Usuario: <input type="text" placeholder="username" name="username"/></h4>
        <h4>Contraseña: <input type="text" placeholder="password" name="password"/></h4>
        <div class="boto">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
</div>
</body>
</html>